controller_manager:
    ros__parameters:
        update_rate: 1000  # Hz

        joint_state_broadcaster:
            type: joint_state_broadcaster/JointStateBroadcaster

        imu_sensor_broadcaster:
            type: imu_sensor_broadcaster/ImuSensorBroadcaster

        robot_joint_controller:
            type: robot_joint_controller/RobotJointControllerGroup

imu_sensor_broadcaster:
    ros__parameters:
        sensor_name: "b2_z1_imu_sensor"
        frame_id: imu_link

robot_joint_controller:
    ros__parameters:
        # B2 leg joints only (12 DOF for RL control)
        # Z1 arm will remain at default position (not controlled)
        joints:
            - FR_hip_joint
            - FR_thigh_joint
            - FR_calf_joint
            - FL_hip_joint
            - FL_thigh_joint
            - FL_calf_joint
            - RR_hip_joint
            - RR_thigh_joint
            - RR_calf_joint
            - RL_hip_joint
            - RL_thigh_joint
            - RL_calf_joint
